* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 40px);
    width: 100vw;
    text-align: center;
}

.toolbar {
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftToolbar {
    margin-left: 5px;
}

.rightToolbar {
    margin-right: 5px;
}

.leftTool {
    width: 100px;
    height: 30px;
}

.rightTool {
    height: 30px;
    width: 30px;
}

#btnRainbow {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

#btnRed {
    background-color: red;
}

#btnGreen {
    background-color: green;
}

#btnBlue {
    background-color: blue;
}
